/* Global
----------------------------- */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	padding: 0px;
	margin: 0px;
	color: rgb(52, 52, 52);
	font-family: Rale, "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	overflow-x: hidden;
}
a {
	color: rgb(52, 52, 52);
	font-weight: 600;
	text-decoration: none;
}
@media (hover: hover) {
	a:hover {
		text-decoration: underline;
	}
}
a[href^="tel:"] {
	font-variant: lining-nums;
}
h1,
h2,
h3 {
	margin: 0;
	line-height: 1;
}
h1,
h2 {
	font-weight: 700;
}
h2 {
	font-size: 2rem;
	color: rgba(250, 250, 250, 1);
}
h3 {
	font-weight: 600;
}
.content-wrap {
	max-width: 900px;
	width: 85%;
	margin: 0 auto;
	padding: 3.75rem 0;
}
.divider > section {
	border-bottom: 1px dashed #343434;
	padding: 1.5rem 0;
}
.divider > section:last-of-type {
	border-style: none;
	padding-bottom: 0;
}
i {
	font-family: "RaIt";
}
.icon {
	width: 20px;
}
.down-arrow-path {
	fill: #5551ff;
}
.blue-text {
	color: #5551ff;
	font-weight: 600;
}
.red-text {
	color: #e96269;
	font-weight: 600;
}
.semi-bold {
	color: rgba(52, 52, 52, 0.75);
	font-weight: 800;
}
/* Button
----------------------------- */
a.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 8px 13px;
	border: 3px solid transparent;
	border-radius: 10px;
	margin: 0px 0.3em 0.3em 0px;
	background: rgb(85, 81, 255);
	color: rgb(255, 255, 255);
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	transition: transform 0.2s ease 0s, background 0.2s ease 0s;
}
@media (hover: hover) {
	a.btn:hover {
		background-color: #e96269;
		color: #f7fff7;
	}
}
@media all and (max-width: 30em) {
	a.btn {
		display: block;
		margin: 0.4em auto 0;
	}
}
/* Profile
----------------------------- */
header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh !important;
	width: 100%;
	color: rgb(105, 105, 105);
	font-size: 18px;
	font-weight: 500;
}
header h1 {
	position: relative;
	z-index: 600;
	margin-bottom: 1rem;
	color: rgb(85, 81, 255);
	font-size: 3rem;
	line-height: 1;
}
header h1::after {
	position: absolute;
	z-index: -1;
	bottom: 0px;
	left: 15px;
	height: 25px;
	width: 77%;
	background-color: rgb(85, 81, 255);
	opacity: 0.16;
	content: "";
	box-shadow: rgb(85, 81, 255) 0px 0px 8px;
}
header p {
	margin: 0;
}
header p:first-of-type {
	margin-bottom: 1rem;
}
.header-img {
	height: 100%;
	width: 100%;
	max-width: 200px;
	margin: 0px auto;
	background: url("../images/steven-wolpe.svg") center center no-repeat;
	transition: background 0.2s ease-in 0s;
}
.header-img.active {
	background: url("../images/steven-wolpe-surprise.svg") center no-repeat;
}
header .header-container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	grid-gap: 1rem;
	min-height: 200px;
}
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
.scroll-down-indicator {
	position: absolute;
	top: 90vh;
	color: #e96269;
	font-family: "Nanum Pen Script", "cursive";
	font-size: 23px;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}
.scroll-down-indicator svg {
	box-sizing: content-box;
	padding: 1.5rem;
	border-radius: 10px;
	cursor: pointer;
	transition: background 0.2s ease-in;
}
@media (hover: hover) {
	.scroll-down-indicator svg:hover {
		background: rgba(85, 81, 255, 0.15);
	}
}
/* Projects
----------------------------- */
.projects h2 {
	position: relative;
	color: #5551ff;
}
.projects h2::after {
	position: absolute;
	z-index: -1;
	bottom: 0px;
	left: 10px;
	height: 20px;
	width: 35%;
	background-color: rgb(85, 81, 255);
	opacity: 0.1;
	content: "";
	box-shadow: rgb(85, 81, 255) 0px 0px 8px;
	-webkit-box-shadow: rgb(85, 81, 255) 0px 0px 8px;
}
.projects p:first-of-type {
	margin-bottom: 0;
}
.project-item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 1.25rem;
	align-items: center;
	padding: 1.5rem 0;
}
.project-item img,
.project-item video {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	height: auto;
	border-radius: 0.25rem;
}
.project-item h3 {
	margin-top: 0;
}
.project-item p:last-of-type {
	color: #5551ff;
	font-weight: 600;
}
.project-item p:last-of-type span {
	color: rgba(52, 52, 52, 0.85);
	font-weight: 800;
}
/* Work Experience
----------------------------- */
.work-exp h2 {
	position: relative;
	color: #5551ff;
}
.work-exp h2::after {
	position: absolute;
	z-index: -1;
	bottom: 0px;
	left: 10px;
	height: 20px;
	width: 35%;
	background-color: rgb(85, 81, 255);
	opacity: 0.1;
	content: "";
	box-shadow: rgb(85, 81, 255) 0px 0px 8px;
	-webkit-box-shadow: rgb(85, 81, 255) 0px 0px 8px;
}
.job-item {
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 1.25rem;
}
.job-details h3 {
	line-height: 1.6;
}
.job-details span {
	white-space: nowrap;
}
.job-summary p {
	margin-top: 0;
}
.job-summary ul {
	margin-bottom: 0;
	padding-left: 2rem;
	line-height: 2;
}
/* Education
----------------------------- */
.about .container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 1.25rem;
}
.about section {
	margin: 1rem 0 0;
}
.about section p {
	margin: 0;
}
.about h2,
.about h3 {
	position: relative;
	color: #5551ff;
}
.about h2::after {
	position: absolute;
	z-index: -1;
	bottom: 0px;
	left: 10px;
	height: 20px;
	width: 30%;
	background-color: rgb(85, 81, 255);
	opacity: 0.1;
	content: "";
	box-shadow: rgb(85, 81, 255) 0px 0px 8px;
	-webkit-box-shadow: rgb(85, 81, 255) 0px 0px 8px;
}
.about h4 {
	margin-top: 0.75rem;
	margin-bottom: 0.25rem;
	line-height: 1.6;
}
.about h4 span {
	white-space: nowrap;
	font-weight: 400;
}
.about p {
	margin: 0;
}
.about p:first-of-type {
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.about p span {
	font-variant: all-small-caps;
}
.about .portrait {
	display: block;
	width: 100%;
	border-radius: 10px;
}
/* Footer
----------------------------- */
footer {
	background: #0b3948;
	background-image: linear-gradient(96.5deg, #5551ff 10.4%, #5551ff 87.7%);
	color: #f7fff7;
}
footer .content-wrap {
	padding: 3rem 0;
}
footer .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1.25rem;
	align-items: center;
}
footer ul {
	padding-left: 0;
	list-style: none;
}
footer li {
	margin-bottom: 0.5rem;
}
footer li:last-of-type {
	margin-bottom: 0;
}
footer h2 {
	font-weight: 600;
}
footer h3 {
	line-height: 1.6;
	font-weight: 500;
}
footer a {
	color: #f7fff7;
	font-weight: 400;
}
footer .links a {
	display: inline-block;
	margin-right: 1rem;
	color: transparent;
	line-height: 0;
	font-size: 0;
}
footer .links a:last-of-type {
	margin-right: 0;
}
footer .links {
	text-align: end;
}
footer .links svg {
	transition: all 0.25s;
	transform-origin: 50% 50%;
}
@media (hover: hover) {
	footer .links svg:hover {
		transform: scale(1.2);
	}
}
/* Window Controls
----------------------------- */
.window-controls {
	position: relative;
}
.window-controls .scroll-up-indicator {
	position: fixed;
	bottom: -25%;
	right: 1rem;
	float: right;
	margin: 0px 0.25rem;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.7, -0.2, 0.265, 1.2) 0s;
}
.window-controls .scroll-up-indicator svg {
	box-sizing: content-box;
	padding: 1.5rem;
	border-radius: 10px;
	transform: rotate(180deg);
	transition: background 0.2s ease-in;
}
@media (hover: hover) {
	#goToTop:hover {
		background: rgba(85, 81, 255, 0.15);
	}
}
#goToTop .arrow-path {
	fill: #5551ff;
}
/* Responsive Layout
----------------------------- */
@media screen and (max-width: 1000px) {
	.project-item {
		grid-template-columns: 1.25fr 1.75fr;
	}
	header h1::after {
		width: 85%;
	}
	.projects h2::after,
	.work-exp h2::after,
	.about h2::after {
		width: 40%;
	}
}
@media screen and (max-width: 900px) {
	.project-item {
		grid-template-columns: 1.5fr 1.5fr;
		padding: 1.5rem 0;
	}
	header h1::after {
		width: 97%;
	}
	.projects h2::after,
	.work-exp h2::after,
	.about h2::after {
		height: 20px;
		width: 45%;
	}
}
@media screen and (max-width: 800px) {
	header h1 {
		font-size: 2.25rem;
	}
	header h1::after {
		height: 20px;
		width: 85%;
	}
	.projects h2::after,
	.work-exp h2::after,
	.about h2::after {
		width: 50%;
	}
}
@media screen and (max-width: 700px) {
	header .header-container {
		grid-template-columns: 1fr;
	}
	header .header-summary {
		order: 2;
	}
	header .header-img {
		height: 160px;
		order: 1;
	}
	header .header-img img {
		display: block;
		width: 33%;
		margin: 0 auto;
	}
	header h1 {
		font-size: 2.5rem;
	}
	header h1::after {
		height: 20px;
		width: 70%;
	}
	.projects h2::after,
	.work-exp h2::after,
	.about h2::after {
		width: 65%;
	}
	.project-item {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 20px;
		align-items: center;
		padding: 1.5rem 0;
	}
	.project-item img,
	.project-item video {
		margin-bottom: 1rem;
	}
	.job-item {
		grid-template-columns: 1fr;
	}
	.job-summary ul {
		padding-left: 1rem;
	}
	.about .container {
		grid-template-columns: 1fr;
	}
	.about .portrait {
		width: 33%;
		margin: 2rem auto 0;
	}
	footer .container {
		grid-template-columns: 1fr;
	}
	footer .links {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 2rem;
	}
	footer .links svg {
		margin-right: 0;
	}
}
@media screen and (max-width: 600px) {
	header h1::after {
		width: 85%;
	}
}
@media screen and (max-width: 500px) {
	.content-wrap {
		width: 90%;
		padding: 2.25rem 0;
	}
	header h1 {
		font-size: 1.9rem;
	}
	header h1::after {
		left: 10px;
		height: 16px;
		width: 75%;
	}
	.projects h2::after,
	.work-exp h2::after,
	.about h2::after {
		height: 15px;
	}
	h2 {
		font-size: 1.5rem;
	}
	header .header-img img {
		width: 45%;
	}
	.job-summary li {
		margin-bottom: 1rem;
		line-height: 1.6rem;
	}
	.job-summary li:last-of-type {
		margin-bottom: 0;
	}
	.about .portrait {
		width: 50%;
	}
}
@media screen and (max-width: 400px) {
	header h1::after {
		left: 10px;
		height: 16px;
		width: 95%;
	}
	.projects h2::after,
	.work-exp h2::after,
	.about h2::after {
		width: 95%;
	}
}
